# Python Tutorial

In [2]:
print("Hello World")

Hello World

$a=b+c$

# Variables

In [1]:
x  = 2

In [2]:
print(type(x))

<class 'int'>

In [3]:
y = 2.5

In [4]:
print(type(y))

<class 'float'>

In [5]:
a, b =4, 5.0
print(a)

4

In [6]:
print(b)

5.0

In [7]:
print(type(b))

<class 'float'>

In [8]:
s = "Hello World"

In [9]:
print(type(s))

<class 'str'>

In [10]:
del x

In [11]:
print(x)

NameError: name 'x' is not defined

In [12]:
#because the variable x was deleted using del function

In [13]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      4
b          float    5.0
s          str      Hello World
y          float    2.5

In [14]:
#to check all the vars in the memory along with their type and data

# Operators

In [15]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      4
b          float    5.0
s          str      Hello World
y          float    2.5

In [16]:
sum_ab = a + b
print(sum_ab)

9.0

In [17]:
print(type(sum_ab))

<class 'float'>

In [19]:
 v = a/b
 print(v)

0.8

In [20]:
v = a//b
print(v)

0.0

In [21]:
s1 = "hello"
s2 = "world"
s3 = s1 + s2
print(s3)

helloworld

In [22]:
print(_)

In [23]:
10/3

3.3333333333333335

In [24]:
print(_)

3.3333333333333335

In [25]:
# _ stores the latest data that was not stored in any variable

# Bool

In [26]:
a  = True
b = True
c = False

In [27]:
%whos

Variable   Type     Data/Info
-----------------------------
a          bool     True
b          bool     True
c          bool     False
s          str      Hello World
s1         str      hello
s2         str      world
s3         str      helloworld
sum_ab     float    9.0
v          float    0.0
y          float    2.5

In [28]:
print(a and b)

True

In [29]:
print(a and c)
print(c and b)

False
False

In [30]:
d = a or c
print(d)

True

In [31]:
#because or looks at atleast one true

In [32]:
not(a)

False

In [33]:
not(b)

False

In [34]:
not(c)

True

In [35]:
type(c)

bool

In [36]:
(a and b) or (c or d)

True

In [37]:
not((a and b) or (c or d))

False

# Comparison Operators

In [38]:
print(2<3)

True

In [39]:
c  = 2<3
print(c)

True

In [40]:
type(c)

bool

In [41]:
3 == 4

False

In [42]:
3 != 4

True

In [43]:
3 == 3.0

True

In [44]:
3 === 3.0

SyntaxError: invalid syntax (<ipython-input-44-6108400f2252>, line 1)

In [45]:
# === only in js

In [46]:
x, y,z,r = 4,9,8.3,-3

In [47]:
(x<y) and (z<y) or (r==x)

True

In [48]:
(x<y) and (r==x)or (z<y)

True

In [49]:
True or False and True

True

In [51]:
False or False and True

False

In [52]:
True and False

False

In [55]:
#print((not(2!=3) and True) or (False and True)) ???

# in-built functions

In [56]:
#round() : rounds up the number to nearest integer or specified places

In [57]:
print(round(4.6))

5

In [58]:
print(round(4.667,1))

4.7

In [59]:
#divmod : returns tuple with quotent and remainder

In [60]:
divmod(22,10)

(2, 2)

In [62]:
g = divmod(34,9)

In [63]:
g[0]

3

In [64]:
g[1]

7

In [65]:
#isinstance : check if that data is of certain data type (a,(data_types))

In [66]:
print(isinstance(1,(int,float,str)))

True

In [67]:
print(isinstance(1,(str)))

False

In [68]:
print(isinstance(1,(int,float)))

True

In [69]:
print(isinstance(1,(int,str)))

True

In [70]:
# pow :  pow(x,y,z) x raise y remainder z

In [71]:
pow(2,4)

16

In [73]:
pow(2,4,7)

2

In [75]:
#input : take input from keyboard. the var will be of type string

In [77]:
x = input("enter a number: ")

enter a number: 55

In [78]:
type(x
    )

str

In [81]:
x = int(x)

In [82]:
type(x)

int

# Control Flow

In [88]:
a,b  = int(input()), int(input())

2
3

In [89]:
if a > b:
    print(a)
else:
    print(b)

3

In [90]:
if b > a:
    print(b)
elif a == b:
    print("equal numbers")
else:
    print(a)

3

In [93]:
print(a) if a > b else print("equal") if a == b else print(b)

3

In [94]:
#nested statement

In [95]:
x = int(input("Enter a number"))

Enter a number22

In [96]:
if x > 10:
    print("number greater than 10")
    if x > 20:
        print("greater than 20")
    else:
        print("not greater than 20")

number greater than 10
greater than 20

In [97]:
"""
   User will enter a floating point number. 
   Your task is to find out the integer portion before the
   point, and then check whether the integer portion
   is an even number or not?
"""

'\n   User will enter a floating point number. \n   Your task is to find out the integer portion before the\n   point, and then check whether the integer portion\n   is an even number or not?\n'

In [8]:
num = float(input("enter a floating point number: "))
num = int(num)
print(num)
if num %2 == 0:
    print("even")
else:
    print("odd")

enter a floating point number: -4.22
-4
even

In [9]:
#while loops

In [131]:
n = int(input('Enter max iterations'))
i = 1
while i < n:
    if i%2 == 0:
        print(i)
    else:
        pass
        print('inside else')
    print('execute after pass')
    i+=1
print("done")

Enter max iterations5
inside else
execute after pass
2
execute after pass
inside else
execute after pass
4
execute after pass
done

In [13]:
i = 1
while True:
    if i%9 == 0:
        print('break')
        break
    else:
        i +=1
        continue
    print("hello")

break

In [15]:
i = 1
while True:
    if i%9 !=0:
        print('inside if')
        i+=1
        continue
    print('something')
    print('something else')
    break

inside if
inside if
inside if
inside if
inside if
inside if
inside if
inside if
something
something else

In [17]:
l = []
for i in range(10):
    print(i+1)
    l.append(i**2)
print(l)

1
2
3
4
5
6
7
8
9
10
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
s = {'apple',4.9,'cherry'}
for o in s:
    print(o)

4.9
4.9
4.9

In [34]:
%whos

Variable   Type     Data/Info
-----------------------------
A          float    4.9
a          float    4.9
b          float    4.9
c          float    4.9
d          float    4.9
i          float    4.9
l          list     n=10
n          int      5
num        int      -4
o          float    4.9
s          set      {'cherry', 'apple', 4.9}
x          float    4.9
y          float    4.9
z          float    4.9

In [35]:
del A,a,b,c,d,i

In [43]:
%whos

Variable   Type    Data/Info
----------------------------
d          dict    n=2
s          set     {'cherry', 'apple', 4.9}
x          str     cherry
y          str     cherry
z          str     cherry

In [44]:
del [d,s,x,y,z]

In [47]:
d = {'apple':44,'cherry':'game'}
for y in d:
    print(y,d[y])

apple 44
cherry game

In [48]:
#loop sorting practice

In [49]:
"""
given a list of numbers, make another list that contains
all the items in sorted order(ascending)
"""

'\ngiven a list of numbers, make another list that contains\nall the items in sorted order(ascending)\n'

In [172]:
l1 = [-4,-7,1,2,5,-3]
for i in range(len(l1)):
    for j in range(i,len(l1)):
        if l1[i] <= l1[j]:
            pass
        else:
            [l1[i],l1[j]] = [l1[j],l1[i]]      
print(l1)

[-7, -4, -3, 1, 2, 5]

In [3]:
l1 = [int(x) for x in input().split()]

1    3    5   6

In [4]:

print(l1)

[1, 3, 5, 6]

# Functions and Modules

In [132]:
def printSuccess():
    print("I am done")
    print("send me another task")

In [133]:
printSuccess()

I am done
send me another task

In [136]:
len??
#if ?? same as ? -> then function not written in plain python

In [139]:
def printMsg(msg):
    if isinstance(msg,str):
        print(msg)
    else:
        print("input not string")
        print('you supplied arg of type', type(msg))

In [147]:
printMsg(2)

input not string
you supplied arg of type <class 'int'>

In [141]:
#variable number of input arguments as list

In [143]:
def add(*args):
    sum = 0
    for i in range(len(args)):
        sum += args[i]
    return sum

In [144]:
add(5,6,7,8,9,10)

45

In [146]:
#variable nuber of input arguments as dictionary

In [160]:
def printAllValues(**kw):
    for key in kw:
        print(key, kw[key])

In [168]:
dictm = {'a':'apple','b':"ball"}

printAllValues(dictm)

a apple
b ball

In [174]:
l1 = [1,5,2,3,4]
l2 = l1
l2[0] = 5
print(l1)

[5, 5, 2, 3, 4]

In [178]:
import sys
sys.path.append('/home/utsav/Desktop/python_classes/ds/')
import mySortingFunction as mysys

print(mysys.sortListAsc(l1))

[2, 3, 4, 5, 5]

# Strings

In [179]:
s = 'I am learning python'

In [180]:
print(s)
print(type(s))

I am learning python
<class 'str'>

In [229]:
s1 = "hello"

if s1 == s1[::-1]:
    print("palindrome")
else:
    print("not a palindrome")

not a palindrome

In [232]:
print(s1[:-4:-1])

oll

In [237]:
s = "hello"
s2=s
s='hi'
print(s)

hi

In [244]:
a = "   A lot of spaces at the     beginniG AND end   "
b = a.strip()
print(b)
print(b.lower())
print(b.upper())
print(a.split())

A lot of spaces at the     beginniG AND end
a lot of spaces at the     beginnig and end
A LOT OF SPACES AT THE     BEGINNIG AND END
['A', 'lot', 'of', 'spaces', 'at', 'the', 'beginniG', 'AND', 'end']

In [22]:
myString ="aabbbeesssaaaa"
print(myString.count('a',0,5))

2

In [11]:
myString.count??

In [24]:
myString = "aannakbc"
"a" in myString

True

# Data Structures

In [26]:
#how different data are stored
#list (ordered, changeable/mutable, duplicates)
#tuple (ordered, non-changeable/immutable, duplocates)
#set (uordered, addable/removable, no-duplicates)
#dictionary (unordered, changeable, no duplicates)

In [28]:
l1 = [1,2,3,4,5]
l2 = l1.copy()
l2[0] = 6
print(l1)
print(l2)

[1, 2, 3, 4, 5]
[6, 2, 3, 4, 5]

In [39]:
l1

[4, 5, 6, 4, 5]

In [42]:
l1[:3] = [[4,5,6]]

In [43]:
l1

[[4, 5, 6], 4, 5]

In [44]:
l = [1,2,4,4.9,'name',3]

In [45]:
l = l + ["how", 'are','you']

In [46]:
l

[1, 2, 4, 4.9, 'name', 3, 'how', 'are', 'you']

In [49]:
" ".join(str(l))

"[ 1 ,   2 ,   4 ,   4 . 9 ,   ' n a m e ' ,   3 ,   ' h o w ' ,   ' a r e ' ,   ' y o u ' ]"

In [51]:
l1 = ["my", "name"]
" ".join(l1)

'my name'

In [65]:
d1 = {'name':'utsav'}
d2 = {'address':'kathmandu'}
# d3 = d1 + d2 (you cannot do this)
d1.update(d2)

In [64]:
d1

{'name': 'utsav', 'address': 'kathmandu'}

In [66]:
d3 = d1.copy()

In [67]:
d3

{'name': 'utsav', 'address': 'kathmandu'}

In [74]:
t = (1,2,3,4,5)

In [75]:
t2 = t[0:3]

In [76]:
t2

(1, 2, 3)

In [77]:
"""
   Let say you are a teacher and you have different
   student records containing id of a student and the marks list in 
   each subject where different students have taken different number
   of subjects. All these records are in hard copy. You want to enter 
   all the data in computer and compute average marks of each student
   and display
"""

'\n   Let say you are a teacher and you have different\n   student records containing id of a student and the marks list in \n   each subject where different students have taken different number\n   of subjects. All these records are in hard copy. You want to enter \n   all the data in computer and compute average marks of each student\n   and display\n'

In [1]:
def getDataFromUser():
    d = {}
    while True:
        student_name = input("Enter the name of the student: ")
        marks = [int(x) for x in input("enter comma seperaed marks").split(',')]
        d[student_name]=marks
        
        ans = input("More data [Y/N]: ")
        if ans.lower() == 'n':
            break
            
    return d

In [2]:
getDataFromUser()

Enter the name of the student: utsav
enter comma seperaed marks55,89,69,88,78
More data [Y/N]: n

{'utsav': [55, 89, 69, 88, 78]}

In [7]:
def getAverageScore():
    data = getDataFromUser()
    d2 = {}
    for key in data:
        avg = sum(data[key])/len(data[key])
        d2[key] = round(avg,2)
    return d2

In [8]:
getAverageScore()

Enter the name of the student: utsav
enter comma seperaed marks85,44,22,14,55
More data [Y/N]: y
Enter the name of the student: prabha
enter comma seperaed marks44,88,65,15
More data [Y/N]: n

{'utsav': 44.0, 'prabha': 53.0}

In [12]:
for i in range(1,4):
    print(i)

1
2
3

In [6]:
x = [i for i in range(5) if i == 3 or i== 4]

In [7]:
x

[3, 4]

In [9]:
letters = ['aa','b','c']
for ii in enumerate(letters):
    print(ii,":",x)

(0, 'aa') : [3, 4]
(1, 'b') : [3, 4]
(2, 'c') : [3, 4]

In [11]:
for i in "programming":
  if i == "a":
    break
  print(i)

p
r
o
g
r

In [12]:
import random
random.seed(2427)

def efficient_sample(n):
  x = [ random.random()for x in range(n)]
  return x

efficient_sample(20)

[0.6709313964859867,
 0.9738115340563225,
 0.6064264401595373,
 0.4066259803173813,
 0.241007454546324,
 0.9570332484250537,
 0.2349020347673353,
 0.8876755137054037,
 0.9720131163571095,
 0.1492980772443857,
 0.9414046155591562,
 0.5597323750561738,
 0.7608989127589141,
 0.5249642801198838,
 0.1344891272249087,
 0.9796560039964438,
 0.06863221669260322,
 0.8766064411366202,
 0.5504489926930571,
 0.4880661379761838]

In [13]:
w = 'python'

w_iterator = iter(w)

In [16]:
print(w_iterator('p')
    )

TypeError: 'str_iterator' object is not callable

In [19]:
class Color:
    def __init__():
        self.rgb_value = rgb_value

c = Color('#00ff66')

c.rgb_value

TypeError: __init__() takes 0 positional arguments but 2 were given

In [26]:
d = {
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4
}

d.get_value(key == 'three')

AttributeError: 'dict' object has no attribute 'get_value'

In [27]:
[i * 3 for i in range(5)]

[0, 3, 6, 9, 12]

In [28]:
class Color:
    def __init__(self,rgb_value):
         self.rgb_value= rgb_value

c = Color('#00ff66')

c.rgb_value

'#00ff66'

In [29]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

a.difference(b)

{1, 2}

In [32]:
x = iter([i for i in range(5)])

next(x)

0

In [34]:
def add_two(x :int)-> int:
  return x + 2

add_two(1)

3

In [35]:
s = "a"

s.center(3)

' a '

In [38]:
def multiply(by = None):
	def multiply_real_decorator(function):
		def wrapper(*args,**kwargs):
			return by * function(*args,**kwargs)
		return wrapper
	return multiply_real_decorator

@multiply(adder)
def adder(a,b):
  return a + b

@multiply(subtractor)
def subtractor(a,b):
  return a - b

print(adder(2,3))
print(subtractor(2,3))

TypeError: unsupported operand type(s) for *: 'function' and 'int'

In [37]:
[i.upper() for i in ['hello', 'world']]

['HELLO', 'WORLD']

In [40]:
x = (1, 2, 3)
s=set(x)
s

{1, 2, 3}

In [46]:
dict_gen = {num*10 for num in range(5) }
dict_gen

{0, 10, 20, 30, 40}

In [48]:
class Cat:   
    def meow(self):
        return 'meow!'

s = Cat()

s.meow()

'meow!'